* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.body-content {
    display: flex;
    flex-direction: column;
    padding: 30px 100px;
    margin-bottom: 100px;
    gap: 31px;
    width: 100%;
    height: 100%;
}

/*====Nav====*/
.navbar {
    background-color: #440203;
}

.navbar-brand img {
    width: 50px;
    height: 50px;
    border-radius: 247px;
    margin-left: 40px;
}

.navbar-nav .nav-item span {
    font-weight: 700;
    color: rgb(196, 196, 196);
    padding: 10px;
}

.navbar-nav .nav-item span:hover {
    color: white;
}

.nav-link {
    cursor: pointer;
}

/*====login====*/
.popup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    padding: 20px 30px;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 432px;
    height: 504px;
    background: #FFFFFF;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms;
}

.popup.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms;
}

.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.popup .form h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    display: flex;
    align-items: center;
    color: #EA4040;
}

.popup .form p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 17px;
    display: flex;
    align-items: center;
}

.form-element label {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
}

.form-element input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 14px;
    gap: 10px;
    width: 372px;
    height: 37px;
}

.form-element a {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    align-items: center;
    text-align: right;
    color: #EA4040;
    cursor: pointer;
}

.form-element button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 20px;
    padding: 6px 18px;
    gap: 10px;
    width: 103px;
    height: 39px;
    background: #BB4444;
    color: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

.form-element button:hover {
    background: #722b2b;
}

/*====header====*/
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 88px 303px;
    gap: 40px;
    max-width: 100%;
    height: 546px;
    background: url(/DCBT-2/img/DCBT-Building.jpg)no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

.header img {
    width: 125px;
    height: 125px;
    border-radius: 247px;
}

.header h2 {
    font-family: 'IM FELL Double Pica';
    color: white;
    font-weight: 400;
    display: flex;
    align-items: center;
    text-align: center;
}

/*====slide-content-1====*/

.slide-1 {
    background-color: rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px;
    max-width: 100%;
    height: auto;
}

.slide-1 .content-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    max-width: 100%;
    height: 469px;
}

.slide-1 .content-img1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 71px 50px;
    gap: 10px;
    width: 720px 50px;
}

.content-img1 img {
    width: 520px;
    height: 327px;
}

.slide-1 .content-text1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 50px;
    gap: 12px;
    max-width: 100%;
    height: auto;
}

.content-text1 h3 {
    max-width: 100%;
    height: 38px;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-align: center;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.content-text1 p {
    max-width: 100%;
    height: 119px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    display: flex;
    align-items: center;
}

.content-1 .enroll {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 18px;
    gap: 10px;
    width: 161px;
    height: 45px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    align-items: center;
    display: flex;
    color: white;
    background: #BB4444;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
}

.enroll:hover {
    background: #7e2e2e;
}

/*====slide-content-2====*/
.slide-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px;
    max-width: 100%;
    height: 509px;
}

.slide-2 h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 5px;
    width: 100%;
}

.course-header {
    display: flex;
    align-items: center;
    gap: 5px;
}

.course-header img {
    width: 76px;
    height: 75px;
    border-radius: 20px;
    margin-left: 160px;
}

.course-header h3 {
    display: flex;
    flex-direction: row;
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    margin-right: 140px;
}

.shs-courses,
.college-courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shs-courses h4,
.college-courses h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.shs-courses p,
.college-courses p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

/*====slide-3====*/
.slide-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px;
    max-width: 100%;
    height: auto;
    background: rgb(219, 219, 219);
}

.slide-3 h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slide-img {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/*====slide-4====*/
.slide-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px;
    max-width: 100%;
    height: auto;
}

.slide-4 h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
}

.mission,
.vision {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mission h3,
.vision h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
}

.mission p,
.vision p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

/*====slide-5====*/
.slide-5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px;
    max-width: 100%;
    height: auto;
}

.slide-5 h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
}

/*====footer====*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    bottom: 0;
    gap: 10px;
    width: 100%;
    height: 180px;
    background: #440203;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    padding-top: 65px;
    gap: 4px;
    width: 100%;
    height: auto;
}

.contact h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: white;
    line-height: 25px;
}

.contact p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: white;
    line-height: 10px;
}

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
    gap: 10px;
    width: 100%;
    height: auto;
    color: white;
}

.copyright h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 8px;
}

/*====enrollment-page====*/
.online-application {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 100px;
    gap: 31px;
    position: relative;
    width: 100%;
    height: 700px;
}

.row-content {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px 50px;
    gap: 10px;
    width: 100%;
    height: auto;
}

.row-content h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    text-align: left;
    align-items: center;
    color: #EA4040;
}

.row-content h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    text-align: left;
    align-items: center;
    color: #EA4040;
}

.row-content p {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.close-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 100%;
    height: auto;
}

.type-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
    width: 100%;
    height: 49px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.type-btn:hover {
    background: #c9c9c9;
}

/*====student-form====*/
.student-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1px 150px;
    width: 100%;
    height: auto;
}

.student-form h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    color: #EA4040;
}

.student-form p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
}

.progress-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.steps {
    display: flex;
}

.step {
    flex: 1;
    padding: 5px;
    text-align: center;
    background-color: lightgray;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.step-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px 150px;
    gap: 10px;
    width: 100%;
    height: auto;
}

.admission-type,
.grade-level,
.course-strand,
.transferee-details,
.student-info,
.ParentGuardian-info,
.enrollment-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    width: 940px;
    height: auto;
}

.admission-type h4,
.grade-level h4,
.course-strand h4,
.transferee-details h4,
.student-info h4,
.ParentGuardian-info h4,
.enrollment-details h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #BB4444;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.transferee-details h5,
.ParentGuardian-info h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #BB4444;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.form-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 100%;
    height: 58px;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: auto;
}

.box-1,
.box-2,
.box-3,
.box-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 10px;
    width: 405px;
    height: 38px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
}

.box-1 label,
.box-2 label,
.box-3 label,
.box-4 label {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
}

.box-1 input,
.box-2 input,
.box-3 input,
.box-4 input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    gap: 10px;
    width: 18px;
    height: 18px;

}

.info-1,
.info-2,
.info-3,
.info-4,
.info-5,
.info-6,
.info-7 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    width: 100%;
    height: auto;
}

.info-1 input,
.info-2 input,
.info-3 input,
.info-4 input,
.info-5 input,
.info-6 input,
.info-7 input {
    width: 100%;
    text-align: center;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
}

#shs-transferee-details,
#college-transferee-details {
    display: none;
}

.selection-box select {
    width: 820px;
    height: 38px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
}

.selection-box-1 select {
    width: 200px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    text-align: center;
}

.completion h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
}

.step.active {
    background-color: dodgerblue;
    color: white;
}

.content .step-content {
    display: none;
}

.step-content.active {
    display: flex;
}

.btn-placing {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: auto;
}

.btn-placing .next-btn,
.btn-placing .prev-btn,
.btn-placing .return-home {
    width: 113px;
    height: 40px;
    background: #A4A7FC;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFF;
}

.btn-placing .return-home {
    width: 150px;
}

.btn-placing .confirm-btn {
    width: 113px;
    height: 40px;
    background: #89DC82;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFF;
}

.confirm-btn:hover {
    background: #5a9e54;
}

.btn-placing .prev-btn {
    margin-right: 20px;
}

.next-btn:hover,
.prev-btn:hover,
.return-home:hover {
    background: #5a5c96;
}

.step-content span {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    width: 80%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*====responsive====*/
@media only screen and (min-width: 1360px) {
    .body-content {
        margin-bottom: 100px;
    }

    .content-img1 img {
        width: 520px;
        height: 327px;
    }

    .content-text1 h3 {
        max-width: 100%;
        height: 38px;
        font-style: normal;
        font-weight: 300;
        font-size: 28px;
        line-height: 38px;
        display: flex;
        align-items: center;
        text-align: center;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    .content-text1 p {
        max-width: 100%;
        height: 119px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        display: flex;
        align-items: center;
    }
}

@media only screen and (min-width: 1920px) {
    .body-content {
        margin-bottom: 245px;
    }

    .content-img1 img {
        width: 820px;
        height: 430px;
    }

    .content-text1 h3 {
        max-width: 100%;
        height: 38px;
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        line-height: 38px;
        display: flex;
        align-items: center;
        text-align: center;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    .content-text1 p {
        max-width: 100%;
        height: 119px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        display: flex;
        align-items: center;
    }
}