html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}
.buttons {
  display: flex;
  margin-left: 210px;
}
.buttons button {
  margin-left: 5px;
}
#pageContainer {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}
#mastHeadContainer {
  width: 100%;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 7px 16px;
  box-sizing: border-box;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff;
  z-index: 1;
  display: flex;
  align-items: center;
}

#mastHeadContainer button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
}

#mastHeadContainer button img {
  width: 100%;
  height: 100%;
}

#mastHeadContainer .logoContainer {
  margin-left: 8px;
  width: 150px;
}

#mastHeadContainer .logoContainer img {
  height: 25px;
}

#mastHeadContainer .searchBarContainer {
  margin: 0 40px;
  flex: 1;
  display: flex;
}

#mastHeadContainer .searchBarContainer form {
  flex: 1;
  display: flex;
}
#mastHeadContainer .searchBarContainer .searchBar {
  flex: 1;
  max-width: 600px;
  color: #111;
  padding: 2px 6px;
  font-size: 14px;
  font-weight: 100;
  border: 1px solid #ccc;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-right: none;
  height: 32px;
  box-shadow: #eee 0px 1px 2px 0px inset;
}
#mastHeadContainer .searchBarContainer .searchButton {
  height: 32px;
  background-color: #f8f8f8;
  border: 1px solid #d3d3d3;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: pointer;
  width: 65px;
}

#mastHeadContainer .searchBarContainer .searchButton img {
  width: 20px;
  height: 20px;
  margin-bottom: 15px;
}

#mastHeadContainer .rightIcons {
  height: 100%;
}

#mastHeadContainer .rightIcons img {
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
}

#sideNavContainer {
  width: 230px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  padding-top: 56px;
  overflow-x: auto;
}

#mainSectionContainer {
  padding-top: 56px;
  display: flex;
  /* background-color: blue; */
  padding-left: 230px;
}

#mainSectionContainer.leftPadding {
  /* padding-left: 230px; */
  padding-left: 0;
}
#mainContentContainer {
  display: flex;
  flex: 1;
  padding: 10px 30px;
  /* background-color: solid orange; */
}

#sideNavContainer .navigationItems {
  overflow-y: auto;
}

#sideNavContainer .navigationItem {
  height: 40px;
  display: flex;
}

#sideNavContainer .navigationItem img {
  height: 18px;
  margin-right: 27px;
}
#sideNavContainer .navigationItem span {
  flex: 1;
  color: #111;
  font-size: 14px;
}

#sideNavContainer .navigationItem a {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

#sideNavContainer .navigationItem a:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.signInContainer {
  background-color: #efefee;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signInContainer .column {
  flex-grow: 0;
  width: 450px;
  padding: 20px 35px;
  max-height: 100%;
  overflow-y: auto;
}
.column {
  flex-grow: 1;
  min-height: 300px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
  background-color: #fff;
}
.signInContainer .column .header img {
  width: 100px;
}

.signInContainer .column .header {
  padding: 20px 0;
}

.signInContainer .column .loginForm {
  padding-top: 24px;
}
.signInContainer .column form {
  display: flex;
  flex-direction: column;
}

.signInContainer .column form input[type='text'],
.signInContainer .column form input[type='email'],
.signInContainer .column form input[type='password'] {
  font-size: 14px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #dedede;
  height: 36px;
  padding-left: 8px;
}

.signInContainer .column form input[type='submit'] {
  background: #4285f4;
  color: #fff;
  height: 36px;
  width: 100px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 136px;
  cursor: pointer;
}

.signInMessage {
  font-size: 14px;
  font-weight: 400;
  color: #212529;
}

.errorMessage {
  color: #f00;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.dashboard_container {
  display: flex;
  flex-wrap: wrap;
}

.videoGrid {
  display: flex;
  flex-wrap: wrap;
}

.videoGrid .videoGridItem {
  height: 200px;
  margin-right: 4px;
  margin-bottom: 24px;
  border: 1px solid #ccc;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: #eee 0px 1px 2px 0px inset;
}

.videoGridItem .thumbnail {
  height: 130px;
}
.videoGridItem .thumbnail img {
  width: 100%;
  height: 100%;
}

.videoGridItem .details {
  /* padding-right: 24px; */
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  /* width: 130px; */
  align-items: center;
  justify-content: center;
}

.videoGridItem .details p {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #212529;
}
.my_section {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.dashboard_section {
  display: flex;
  flex: 1;
}

.videoGridHeader .right {
  /* flex: 1;
  margin-left: 15px; */

  display: flex;
  flex-direction: column;
  align-items: center;
}

.videoGridHeader .right .right-first {
  margin-bottom: 15px;
}

.dashboard_section .right-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.dashboard_section .right-content .first {
  margin-bottom: 15px;
}

.dashboard_section .right-content .second {
  text-align: center;
}

.dashboard_section .left {
  width: 65%;
}

.my_section .myStudentHeader,
.dashboard_section .videoGridHeader,
.my_classmates .videoGridHeader {
  display: flex;
}

.my_section .myStudentHeader .right,
/* .dashboard_section .videoGridHeader .right, */
.my_classmates .videoGridHeader .right {
  margin-left: 50px;
}

.my_section .myStudentSection {
  display: flex;
  flex-wrap: wrap;
}
.my_section .myStudentSection .myStudentSectionItems {
  height: 200px;
  width: 150px;
  margin-right: 4px;
  margin-bottom: 24px;
  border: 2px solid rgb(135, 213, 135);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: #eee 0px 1px 2px 0px inset;
}

.myStudentSectionItems .thumbnail {
  height: 130px;
}

.myStudentSectionItems .thumbnail img {
  height: 100%;
  width: 100%;
}

.myStudentSectionItems .details {
  /* padding-right: 24px; */
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.myStudentSectionItems .details p {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #212529;
}

.my_section .myStudentSection {
  display: flex;
  flex-wrap: wrap;
}

.assignment_section {
  height: 50px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.assignment_section .assignment_buttons {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.assignment_section .assignment_buttons button {
  margin-left: 8px;
}
.subjectPeriodContainer {
  margin-top: 20px;
}

.subjectPeriodContainer .subjectPeriodContainerItem {
  padding: 10px 20px;
  margin-right: 4px;
  margin-bottom: 24px;
  border: 2px solid rgb(135, 213, 135);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: #eee 0px 1px 2px 0px inset;
}

.subjectPeriodContainerItem .align-straight {
  display: flex;
  flex: 1;
}

.subjectPeriodContainerItem .thumbnail {
  width: 350px;
  height: 218px;
  margin-right: 10px;
  margin-top: 10px;
}

.subjectPeriodContainerItem .thumbnail img {
  width: 100%;
  height: 100%;
}

.subjectPeriodContainerItem .align-straight .details {
  padding: 10px 20px;
}

.column-outer {
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.column-outer .column_1_header {
  margin-bottom: 30px;
}
.column-outer .column_1_header span {
  font-size: 14px;
  font-weight: 500;
}
.column-outer .column_1 {
  min-width: 520px;
  box-shadow: #eee 0px 1px 2px 0px inset;
  border-color: 2px solid orange 2px solid;
  height: 5000px;
}

.column-outer .column {
  min-width: 600px;
  box-shadow: #eee 0px 1px 2px 0px inset;
  /* background-color: rgb(240, 210, 210); */
  max-height: 300px;
}

.student_assignment_table_content {
  display: flex;
  flex: 1;
  padding: 10px 20px;
}

.student_assignment_table_content .leftColumn_assignment {
  flex: 1;
  min-width: 500px;
}

.student_assignment_table_content .leftColumn_assignment h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.student_assignment_table_content .leftColumn_assignment .student_answer {
  margin-top: 30px;
}

.student_assignment_table_content .rightColumn_assignment {
  flex: 1;
  min-width: 300px;
  padding: 10px 20px;
}

.rightColumn_assignment .submission_details,
.rightColumn_assignment .assignment_first {
  padding: 5px 10px;
  border-bottom: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}

.rightColumn_assignment .assignment_score {
  padding: 5px 10px;
  border-bottom: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gradebook_summary {
  display: flex;
  flex: 1;
  overflow: auto;
  flex: row;
}

.gradebook_summary .first {
  min-width: 500px;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center; */
}

.gradebook_summary .second {
  min-width: 600px;
  /* flex-direction: row;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center; */
}

.gradebook_summary .tb-left {
  margin-top: 48px;
}

.ssamp {
  height: 12px;
}

.quiz_question_container {
  display: flex;
  flex: 1;
}
.quiz_question_container .quiz_question_inner {
  flex: 1;
}
.quiz_section {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.quiz_section .quiz_section_inner {
  flex: 1;
}

.assignmentStudentSection {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.handout_section {
  width: 100%;
  min-height: 600px;
}

.handout_section .handout_content {
  border-top: 2px solid #fff;
}

.lesson_section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#messages_area_for_groupchat,
#messages_area_for_groupchat_teacher,
#messages_area_for_groupchat_student,
#chat_area {
  overflow-y: auto;
  /* In order for the box message have a bit space */
  margin-bottom: -33px;
}

#body_container3 {
  display: flex;
  flex-direction: column;
  height: 75vh;
  min-height: 550px;
}
#basic-info-link:active {
  border-bottom: 2px solid black;
}
